#BoxLoader {
    justify-content: space-between !important;

    .buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .btn {
            min-width: 100px;
            font-size: 16px;
        }
    }
}