.btn {
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid var(--clr-text);
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-text);
    transition: all 0.25s;

    font-size: 1.5rem;
    padding: 0.25em 0.5em;

    &:hover,
    &:focus {
        scale: 1.05;
        border-color: var(--clr-text-accent);
        color: var(--clr-text-accent);
    }

    &.big {
        padding: 12px 24px;
        font-size: 48px;
    }

    &.secondary {
        background-color: var(--clr-text);
        color: var(--clr-primary);

        &:hover,
        &:focus  {
            border-color: var(--clr-text-accent);
            background-color: var(--clr-text-accent);
        }
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
        border: 2px solid var(--clr-disabled);
        color: var(--clr-disabled);
    }
}

@media (max-width: 600px) {
    .btn {
        border-radius: 8px;
        padding: 6px 12px;
        font-size: 24px;

        &:hover,
        &:focus {
            scale: 1;
            border-color: solid var(--clr-text);
            color: var(--clr-text);
        }

        &.big {
            padding: 8px 16px;
            font-size: 32px;
        }

        &.secondary {
            background-color: var(--clr-text);
            color: var(--clr-primary);

            &:hover,
            &:focus {
                border-color: var(--clr-text);
                background-color: var(--clr-text);
            }
        }
    }
}