.dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 80px;
    font-size: 32px;
    border-radius: 12px;
    background-color: var(--clr-secondary);
    border-width: 2px;
    border-style: solid;
    border-color: var(--clr-tertiary);

    transition: all 0.25s;

    .title,
    .message {
        color: var(--clr-tertiary);
    }

    .title {
        width: 100%;
        border-bottom: 2px solid var(--clr-tertiary);
        text-align: center;
        font-size: 50px;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 50px;
        
        .btn {
            min-width: 100px;
        }
    }
}

@media (max-width: 600px) {
    .dialog-container {
        gap: 20px;
        padding: 20px;
        font-size: 24px;

        .title {
            width: 80%;
            font-size: 30px;
        }

        .buttons {
            gap: 20px;
        }
    }
}