.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--padding-size) / 2) calc(var(--padding-size) * 2);
    // background-color: var(--clr-secondary);
    z-index: 2;

    .home-btn {
        font-size: 2.5rem;
        cursor: pointer;
        transition: color 0.5s;

        &:not(.disabled) {
            &:hover,
            &:focus {
                color: var(--clr-tertiary);
            }
        }

        &.disabled {
            cursor: default;
            pointer-events: none;
        }
    }

    .header-title {
        position: relative;
        font-size: 2rem;
        margin-inline: auto;
        cursor: default;
    }

    .spacer-div {
        visibility: hidden;
        cursor: default;
        pointer-events: none;
        width: 50px;
        height: 50px;
    }
}