.box-loader-wrapper {
    --total-boxes: 5;
    --box-width: 30px;
    --box-spacing: calc((var(--box-width)/5*2));
    --wrapper-height: calc(var(--box-width) + (var(--box-spacing)*2));

    &.small {
        --box-width: 10px;
    }

    &.big {
        --box-width: 50px;
    }

    margin-block: auto;

    width: calc((var(--box-width)*var(--total-boxes)) + (var(--box-spacing)*(var(--total-boxes) + 1)));
    height: var(--wrapper-height);
    position: relative;
    // background-color: var(--clr-light-fade);

    .box-0 { --multiplier: 0; }
    .box-1 { --multiplier: 1; }
    .box-2 { --multiplier: 2; }
    .box-3 { --multiplier: 3; }
    .box-4 { --multiplier: 4; }
    .box-5 { --multiplier: 5; }
    .box-6 { --multiplier: 6; }
    .box-7 { --multiplier: 7; }
    .box-8 { --multiplier: 8; }
    .box-9 { --multiplier: 9; }
    .box-10 { --multiplier: 10; }
    .box-11 { --multiplier: 11; }
    .box-12 { --multiplier: 12; }
    .box-13 { --multiplier: 13; }
    .box-14 { --multiplier: 14; }
    .box-15 { --multiplier: 15; }
    .box-16 { --multiplier: 16; }
    .box-17 { --multiplier: 17; }
    .box-18 { --multiplier: 18; }
    .box-19 { --multiplier: 19; }

    .box {
        position: absolute;
        top: var(--box-spacing);
        left: calc(
            var(--box-spacing)
            + (var(--box-spacing) * var(--multiplier))
            + (var(--box-width) * var(--multiplier))
        );

        width: var(--box-width);
        height: var(--box-width);
        background-color: var(--clr-disabled);
        transition: all 0.25s ease;

        &.active {
            background-color: var(--clr-light-accent);
            border-radius: 50%;
        }

        &.moveUp {
            transform: translateY(var(--wrapper-height)) rotate(180deg);
        }

        &.moveDown {
            transform: translateY(calc(var(--wrapper-height) * -1)) rotate(-180deg);
        }
    }
}