.header-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    z-index: 2;

    .home-btn {
        position: absolute;
        left: 48px;
        cursor: pointer;

        svg {
            width: 48px;
            height: 48px;
        }
    }

    .header-title {
        position: relative;
        padding: 10px;
        font-size: 40px;
        transition: all 0.25s;
        cursor: default;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            scale: 0 1;
            background-color: var(--clr-light-accent);
            transition: all 0.25s;
        }

        &:hover,
        &:focus {
            color: var(--clr-light-accent);

            &::after {
                scale: 1 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .header-wrapper {
        height: 60px;

        .home-btn {
            left: 16px;

            svg {
                width: 36px;
                height: 36px;
            }
        }

        .header-title {
            padding: 5px;
            font-size: 30px;

            &::after {
                scale: 0 1;
            }

            &:hover,
            &:focus {
                color: var(--clr-light);
                &::after {
                    scale: 0 1;
                }
            }
        }
    }
}