.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    pointer-events: all;
    background-color: var(--clr-primary-transparent);
}