.card-grid-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    padding: 24px;
    margin-inline: 50px;
    border-radius: 12px;
    outline: 2px solid var(--clr-text);

    .start-btn {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: var(--clr-primary);
        border-color: var(--clr-text);
    }
}

.counter-wrapper {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    .counter-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        span {
            display: block;
            font-size: 30px;

            &.counter {
                font-size: 60px;
            }
        }
    }

    &.fake {
        pointer-events: none;
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .card-grid-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .card-grid {
        gap: 16px;
        padding: 16px;
        margin-inline: 0;
        border-radius: 12px;
    }

    .counter-wrapper {
        width: 100%;
        gap: 10px;

        .counter-group {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            gap: 20px;

            span {
                font-size: 20px;
                text-align: left;

                &.counter {
                    font-size: 26px;
                }
            }
        }

        &.fake {
            display: none;
        }

        .btn {
            margin-top: 20px;
        }
    }
}