.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .label {
        font-size: 1rem;
        color: var(--clr-secondary);
    }

    .toggle-outer {
        --inner-width: 20px;
        --outer-width: calc(var(--inner-width) * 2.5);
        --spacing: calc(var(--inner-width) / 6);

        display: flex;
        align-items: center;
        padding: var(--spacing);

        width: var(--outer-width);
        position: relative;
        border-radius: 1000px;
        cursor: pointer;
        background-color: var(--clr-secondary);
        transition: all 0.6s ease-in-out;

        .toggle-inner {
            width: var(--inner-width);
            height: var(--inner-width);
            border-radius: 100%;
            background-color: var(--clr-text);
            transition: all 0.3s ease-in-out;
        }

        &.toggled {
            .toggle-inner {
                translate: calc(var(--inner-width) + calc(var(--spacing))) 0;
                background-color: var(--clr-tertiary);
            }
        }
    }
}