#App {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--clr-dark);
    color: var(--clr-light);

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    .view-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    .toggle-fuzzy {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
    }

    .under-development {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-weight: bold;
        text-align: center;

        .title {
            font-size: 60px;
        }

        .message {
            font-size: 40px;
            color: var(--clr-warning);
        }
    }

    #overlay-wrapper {
        position: absolute;
        inset: 0;
        background-color: transparent;
        pointer-events: none;
        overflow: hidden;
        z-index: 999;
    }
}

@media (max-width: 600px) {
    #App {
        .toggle-fuzzy {
            display: none;
        }

        .under-development {
            gap: 10px;

            .title {
                font-size: 50px;
            }

            .message {
                font-size: 30px;
            }
        }
    }
}
