*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
    -webkit-tap-highlight-color: transparent;
}

*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link underlines look better */
}

img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt description look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a background image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
}

/* Turns off animation for people who don't want to see them */
@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

body, html{
    height: 100%; /* Makes the body element full screen */
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background-color: var(--clr-dark);
}

:root {
	font-family: Arial, Helvetica, sans-serif;
    --clr-light: hsl(0, 0%, 80%);
    --clr-light-accent: hsl(0, 0%, 95%);
    --clr-light-fade: hsl(0, 0%, 30%);
    --clr-disabled: hsla(0, 0%, 80%, 0.4);
    --clr-disabled-fade: hsla(0, 0%, 80%, 0.1);
    --clr-dark: hsl(0, 0%, 15%);
    --clr-dark-transparent: hsla(0, 0%, 15%, 0.95);
    --clr-detail: hsl(248, 53%, 50%);
    --clr-detail-accent: hsl(248, 53%, 58%);
    --clr-positive: hsl(120, 50%, 25%);
    --clr-negative: hsl(0, 50%, 50%);
    --clr-warning: hsl(60, 50%, 50%);
}

.scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: var(--clr-light-fade);
}

.scroll::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--clr-light);
}